button {
  background: #00BFFF;
  border: 0;
  color: white;
  font-weight: bold;
  font-family: "Monaco", monospace;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin: 5px;
}

button:hover {
  background: #1E90FF;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Palatino Linotype";
  font-size: 28px;
  margin: 0;
}

body {
  background: #2BC0E4; 
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4); 
  background: linear-gradient(to right, #EAECC6, #2BC0E4);
  font-family: Monaco;
  font-size: 10px;
  color: #0C1157;
  text-align: center;
  line-height: 1.5;
}

.header {
  border-style: groove;
  border-color: white;
  border-radius: 20px
  padding: 20px;
}

#logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

#credits {
  position: fixed;
  bottom: 0;
  right: 0;
}

